backend/src/main/resources/urbanops.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://urbanops.ma/soap"
           targetNamespace="http://urbanops.ma/soap"
           elementFormDefault="qualified">

    <xs:element name="getIncidentStatsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sector" type="xs:string" minOccurs="0"/>
                <xs:element name="category" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIncidentStatsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="totalIncidents" type="xs:long"/>
                <xs:element name="openIncidents" type="xs:long"/>
                <xs:element name="resolvedIncidents" type="xs:long"/>
                <xs:element name="highSeverityCount" type="xs:long"/>
                <xs:element name="resolutionRate" type="xs:double"/>
                <xs:element name="generatedAt" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIncidentByReferenceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="referenceCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIncidentByReferenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="referenceCode" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="severity" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="category" type="xs:string"/>
                <xs:element name="sector" type="xs:string"/>
                <xs:element name="authorityNotified" type="xs:string"/>
                <xs:element name="createdAt" type="xs:string"/>
                <xs:element name="found" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
